body{
    text-align: center;
    /* background-color: rgb(18, 18, 62); */
    background-color: aquamarine;
}

#headerSection{
    padding: 10px;
}

#headerSection h1{
    font-family: cursive;
}


input{
    padding: 10px;
    border-radius: 7px;

}

#dropbox{
    padding: 10px;
    border-radius: 7px;
    width: 14%;

}

#login_button{
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    background-color: rgb(111, 111, 237);
    color: white;

}